.HostingSolutions
    height 100%
    width 100%
    background-color #fff
    display flex
    justify-content center
    align-items center
    .section2_wrapper
        margin: 40px auto 
        max-width 1170px
        display flex
        justify-content space-between
        flex-direction column
        .title_wrapper
            display flex
            justify-content space-around
            flex-direction column
            align-items: center
            .title
                text-align center
                font-size 24px
                color #444
            .undertitle
                line-height 22px
                font-size 15px
                text-align center
                color #888
        .square_wrapper
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            margin: 50px auto 0 auto
            // display grid
            // padding-left 20px
            // grid-template-columns 260px 260px 260px 260px
            // grid-template-rows 236px 236px
            // grid-column-gap 30px
            // grid-row-gap 40px
            .square:hover
                border-color #ce4624
                cursor pointer
            .square
                border: 1px solid #ddd
                max-width: 260px
                text-align center
                padding-top 20px
                margin-bottom: 40px
                padding-bottom: 15px
                .square_name
                    padding-top: 15px
                    text-align center
                    font-weight bold
                    font-size 22px
                    color: #ce4624
                .square_text
                    color #878787
                    padding 10px 10px
                    font-size: 14px