.ChooseWebHosting
    height 100%
    width: 100%
    .section6_wrapper
        max-width 1170px
        margin: 0 auto
        .title
            font-size 26px
            text-align center
            padding 70px 0
        .reasons
            display flex
            justify-content: space-between
            @media screen and (max-width: 670px)
                flex-direction: column
            .left
                .reason_left
                    padding 8px 0px
                    display flex
                    align-items center
                    justify-content: center
                    flex-basis: 50%
                    .circle:hover 
                        background-color #000000
                        color #fff
                    .circle
                        border-radius: 50px
                        width: 65px
                        height 65px
                        background-color #ce4624
                        text-align center
                        color #fff
                        font-size 40px
                        display: flex
                        justify-content: center
                        align-items: center
                    .info:hover
                        background-color #ce4624
                        .name
                            color #fff
                        .reson_text
                            color #fff
                    .info:hover
                        background-color #ce4624
                        .name
                            color #fff
                        .reson_text
                            color #fff
                    .info
                        background-color #f2f2f2
                        width: 70%
                        margin-left: 20px
                        border-bottom: solid 2px #e3e3e3
                        .name
                            padding: 5px 0px 0px 14px
                            color: #656565
                            font-size: 18px
                            margin-top: 10px;
                            margin-bottom: 10px
                        .reson_text
                            padding: 0px 14px 8px 14px
                            color: #878787
                            margin-bottom: 10px
                            font-size: 15px
                            line-height: 22px
            .right
                .reason_right
                    padding 8px 0px
                    display flex
                    align-items center
                    flex-basis: 50%
                    justify-content: center
                    .circle:hover 
                        background-color #000000
                        color #fff
                    .circle
                        border-radius: 50px
                        display flex
                        align-items center
                        justify-content: center
                        color #fff
                        font-size 40px
                        width: 65px
                        height 65px
                        background-color #ce4624
                    .info:hover
                        background-color #ce4624
                        .name
                            color #fff
                        .reson_text
                            color #fff
                    .info
                        background-color #f2f2f2
                        width: 70%
                        margin-right: 20px
                        border-bottom: solid 2px #e3e3e3
                        .name
                            padding: 5px 0px 0px 14px
                            color: #656565
                            font-size: 18px
                            margin-top: 10px;
                            margin-bottom: 10px
                        .reson_text
                            padding: 0px 14px 8px 14px
                            color: #878787
                            margin-bottom: 10px
                            font-size: 15px
                            line-height: 22px