.SigningUp
    height 100%
    width 100%
    .section4_wrapper
        max-width: 1170px
        margin: 0 auto 70px auto
        .title
            font-size 26px
            text-align center
            padding 70px 0
        .block_grid
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            // display grid
            // grid-template-columns 30% 30% 30%
            // grid-template-rows 100%
            // grid-column-gap 30px
            .block:hover
                background-color #ce4624
                cursor pointer
                .circle
                    background-color #fff
                    color #ce4624
                .block_title
                    color #fff
                .text
                    color #fff
            .block
                border 1px solid #dfdfdf
                text-align center
                margin: 0 auto
                max-width: 360px
                margin-bottom: 20px
                .circle
                    // display: block
                    // position relative
                    display: flex
                    justify-content: center
                    align-items: center
                    border-radius: 50px
                    margin: 45px auto 0
                    text-align center
                    // padding-top 10px
                    color #fff
                    width: 80px
                    height 80px
                    font-size 40px
                    background-color #ce4624
                    // ppsition releative
                    
                    // margin-top: 45px
                    // i
                    //     font-size 40px
                    //     font-style: normal
                    //         font-size: 40px;
                    // font-style: normal;
                    // display: block;
                    // position: absolute;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%, -50%);

                .block_title
                    margin-top: 20px
                    font-size 18px
                    font-weight bold
                    color #656565
                    text-align center
                .text
                    text-align center
                    padding 20px 15px 25px
                    color #878787
                    font-size 15px