.HostingIcons
    height 100%
    width 100%
    background-image url(./images/cliants-bg.jpg)
    background-repeat no-repeat
    background-size cover
    .section7_wrapper
        max-width 1170px
        margin 70px auto 0 auto
        padding 52px 0
        display flex
        justify-content space-around
        @media screen and (max-width: 670px)
            flex-direction: column
            align-items: center
        .blocks
            width 25%
            text-align center
            color #fff
            @media screen and (max-width: 670px)
                margin-bottom: 20px
            .block_icon
                font-size 40px
            .line
                background: #fff
                height: 1px
                width: 75px
                text-align: center
                margin: 12px auto
            .block_numbers
                font-size 22px
                font-weight bold
                margin-bottom 0px
                margin-top 0px
            .block_text
                font-size 16px
                font-weight bold