*
    margin 0
    padding 0
    box-sizing: border-box
    .section1
        width 100%
        height 100%
        background-image url(./images/slider1.jpg)
        background-repeat no-repeat
        background-size cover
        .wrapper_main_section1
            .header
                height 100%
                width 100%
                background-color #1a1816
                .header_wrapper
                    margin 0 auto
                    max-width 1180px
                    display flex
                    justify-content space-between
                    align-items center
                    .contacts
                        list-style none
                        display flex
                        color #878787
                        font-size 15px
                        justify-content space-between
                        align-items: center
                        @media screen and (max-width: 400px)
                            flex-direction: column
                        .mail:hover
                            color #ce4624
                            cursor pointer
                        .mail:before
                            content: "✉"
                            padding-right: 10px
                        .mail
                            padding-right 10px
                        .tel:before
                            content "✆"
                            padding-right: 10px
                    .authorization
                        .login
                            background-color transparent
                            border none 
                            color #878787
                            border-right solid .5px #878787
                            padding 10px 20px
                            text-align center
                            font-size 15px
                        :hover
                            background-color #ce4624
                            color: white
                            cursor pointer
                        .register
                            background-color transparent
                            border none 
                            color #878787
                            text-align center
                            font-size 15px
                            padding 13px 20px
                        :hover
                            background-color #ce4624
                            color: white
                            cursor pointer
            .section1_wrapper
                height 100%
                width 100%
                .navigation
                    background-color rgba(206, 70, 36, 0.5)
                    .navigation_container
                        max-width 1150px
                        margin 0 auto
                        display flex
                        justify-content space-between
                        align-items center
                        @media screen and (max-width: 900px)
                            flex-direction: column
                            align-items: flex-start
                        .menu
                            list-style none
                            display flex
                            flex-wrap: wrap
                            align-items center
                            justify-content space-between 
                            color white
                            // @media screen and (max-width: 900px)
                            //     flex-direction: column
                            // .item:hover
                            //     display: flex
                            //     flex-direction: column
                            //     .hereis
                            //         display: block
                            //         padding-top: 20px
                            //         background-color #fff
                            //         padding: 10px 15px;
                            //         display: block;
                            //         font-size: 13px
                            //         color black
                            .item
                                display flex
                                align-items center
                                padding 40px 20px
                                font-size 16px
                                @media screen and (max-width: 900px)
                                    font-size: 14px
                            .item:hover
                                cursor pointer
                .main
                    width 100%
                    display flex
                    justify-content center
                    color white
                    align-items center
                    .main_container
                        text-align center
                        width 63%
                        margin: 115px auto
                        .title
                            font-size 60px
                            display block
                        .info
                            margin-top 40px
                            margin-bottom 10px
                            display block
                            font-size 16px
                        .order
                            color #595959
                            background-color white
                            padding 8px 36px
                            margin-top 40px
                            font-size 15px
                            border-radius 2px
                            text-transform uppercase
                            line-height 28px
                            outline none 
                            border none
                        .order:hover
                            cursor pointer
    .domains
        width 100%
        background-color #ce4624
        .domains_wrapper
            margin: 0 auto
            max-width 1170px
            display flex
            justify-content space-between
            align-items center
            padding: 15px
            @media screen and (max-width: 900px)
                flex-direction: column
            .left
                width 100%
                @media screen and (max-width: 900px)
                    margin-bottom: 40px
                .domain_input
                    color #878787
                    height 56px
                    border none
                    width 70%
                    border-radius 0px !important
                    text-indent 12px
                .domain_select
                    color #878787
                    width 14%
                    height 56px
                    border none
                    border-left 1px solid #dadada
                    outline none
                    border-radius 0px !important
                .go
                    background #000
                    color #fff
                    font-weight bold
                    font-size 18px
                    padding 16px 24px
                    border none 
                    outline none
                .go:hover
                    cursor pointer
            .right
                display flex
                align-items center
                color: white
                width: 100%
                .title
                    padding 12px 0
                    font-size 21px
                    margin-left: 25px
                    margin-right: 10px
                    width 25%
                .blocks
                    display flex
                    width: 70%
                    justify-content space-around
                    align-items center
                    @media screen and (max-width: 900px)
                        width 60%
                    .domain:hover
                        background-color #000
                        color #fff
                        cursor pointer
                    .domain
                        width: 20%
                        font-size 18px
                        text-align center
                        color #656565
                        border-radius 4px
                        background #fff
                        height 62px
                        display flex
                        flex-direction column
                        @media screen and (max-width: 400px)
                            font-size: 15px
                        .name
                            font-weight bold
                            margin-top 5px
                        .price
                            font-size 15px
                            @media screen and (max-width: 400px)
                                font-size: 8px
    .section2
        height 100%
        width 100%
        background-color #fff
        display flex
        justify-content center
        align-items center
        .section2_wrapper
            margin: 40px auto 
            max-width 1170px
            display flex
            justify-content space-between
            flex-direction column
            .title_wrapper
                display flex
                justify-content space-around
                flex-direction column
                align-items: center
                .title
                    text-align center
                    font-size 24px
                    color #444
                .undertitle
                    line-height 22px
                    font-size 15px
                    text-align center
                    color #888
            .square_wrapper
                display: flex
                flex-wrap: wrap
                justify-content: space-around
                margin: 50px auto 0 auto
                // display grid
                // padding-left 20px
                // grid-template-columns 260px 260px 260px 260px
                // grid-template-rows 236px 236px
                // grid-column-gap 30px
                // grid-row-gap 40px
                .square:hover
                    border-color #ce4624
                    cursor pointer
                .square
                    border: 1px solid #ddd
                    max-width: 260px
                    text-align center
                    padding-top 20px
                    margin-bottom: 40px
                    padding-bottom: 15px
                    .square_name
                        padding-top: 15px
                        text-align center
                        font-weight bold
                        font-size 22px
                        color: #ce4624
                    .square_text
                        color #878787
                        padding 10px 10px
                        font-size: 14px
    .section3
        height 100%
        width 100%
        text-align center
        background-image url(./images/ready-bg.jpg)
        background-repeat no-repeat
        background-size cover
        .section3_wrapper
            max-width: 1170px
            margin 0 auto
            color #FFF
            padding 40px 0px
            .title
                font-size: 40px
                margin-bottom 30px
            .undertitle
                font-size 24px
                padding 30px 0px 0px 0px
            a
                color: #ce4624
                text-decoration: none
            a:hover
                color #337ab7
    .section4
        height 100%
        width 100%
        .section4_wrapper
            max-width: 1170px
            margin: 0 auto 70px auto
            .title
                font-size 26px
                text-align center
                padding 70px 0
            .block_grid
                display: flex
                justify-content: space-between
                flex-wrap: wrap
                // display grid
                // grid-template-columns 30% 30% 30%
                // grid-template-rows 100%
                // grid-column-gap 30px
                .block:hover
                    background-color #ce4624
                    cursor pointer
                    .circle
                        background-color #fff
                        color #ce4624
                    .block_title
                        color #fff
                    .text
                        color #fff
                .block
                    border 1px solid #dfdfdf
                    text-align center
                    margin: 0 auto
                    max-width: 360px
                    margin-bottom: 20px
                    .circle
                        // display: block
                        // position relative
                        display: flex
                        justify-content: center
                        align-items: center
                        border-radius: 50px
                        margin: 45px auto 0
                        text-align center
                        // padding-top 10px
                        color #fff
                        width: 80px
                        height 80px
                        font-size 40px
                        background-color #ce4624
                        // ppsition releative
                        
                        // margin-top: 45px
                        // i
                        //     font-size 40px
                        //     font-style: normal
                        //         font-size: 40px;
                        // font-style: normal;
                        // display: block;
                        // position: absolute;
                        // top: 50%;
                        // left: 50%;
                        // transform: translate(-50%, -50%);

                    .block_title
                        margin-top: 20px
                        font-size 18px
                        font-weight bold
                        color #656565
                        text-align center
                    .text
                        text-align center
                        padding 20px 15px 25px
                        color #878787
                        font-size 15px
    .section5
        height 100%
        width: 100%
        background-color #F6F6F6
        border solid 1px #ddd
        .section5_wrapper
            max-width: 1170px
            margin: 60px auto 40px auto
            display: flex
            justify-content: space-between
            text-align: center
            flex-wrap: wrap
            .price
                border-top: solid 5px #ce4624
                margin: 0 auto
                .title
                    background-color #fff
                    padding: 0 40px
                    color #656565
                    font-weight bold
                    font-size 26px
                    text-align center
                    padding 28px 0
                    margin 0
                .in_month
                    background-color #ce4624
                    width 100%
                    padding 20px 40px
                    color #fff
                    font-weight bold
                    text-align center
                    font-size 40px
                    .per_month
                        font-size 15px
                        font-weight normal
                        display: block
                .instructions
                    list-style none
                    text-align center
                    padding: 0 40px
                    color #878787
                    font-size 16px
                    background-color #fff
                    .text
                        padding 15px 0
                .order
                    color #fff
                    background #ce4624
                    font-size 18px
                    padding: 0 40px
                    width 100%
                    font-weight bold
                    text-align center
                    padding 13px 0px
                    outline: none 
                    border none
                    margin-bottom: 20px
    .section6
        height 100%
        width: 100%
        .section6_wrapper
            max-width 1170px
            margin: 0 auto
            .title
                font-size 26px
                text-align center
                padding 70px 0
            .reasons
                display flex
                justify-content: space-between
                @media screen and (max-width: 670px)
                    flex-direction: column
                .left
                    .reason_left
                        padding 8px 0px
                        display flex
                        align-items center
                        justify-content: center
                        flex-basis: 50%
                        .circle:hover 
                            background-color #000000
                            color #fff
                        .circle
                            border-radius: 50px
                            width: 65px
                            height 65px
                            background-color #ce4624
                            text-align center
                            color #fff
                            font-size 40px
                            display: flex
                            justify-content: center
                            align-items: center
                        .info:hover
                            background-color #ce4624
                            .name
                                color #fff
                            .reson_text
                                color #fff
                        .info:hover
                            background-color #ce4624
                            .name
                                color #fff
                            .reson_text
                                color #fff
                        .info
                            background-color #f2f2f2
                            width: 70%
                            margin-left: 20px
                            border-bottom: solid 2px #e3e3e3
                            .name
                                padding: 5px 0px 0px 14px
                                color: #656565
                                font-size: 18px
                                margin-top: 10px;
                                margin-bottom: 10px
                            .reson_text
                                padding: 0px 14px 8px 14px
                                color: #878787
                                margin-bottom: 10px
                                font-size: 15px
                                line-height: 22px
                .right
                    .reason_right
                        padding 8px 0px
                        display flex
                        align-items center
                        flex-basis: 50%
                        justify-content: center
                        .circle:hover 
                            background-color #000000
                            color #fff
                        .circle
                            border-radius: 50px
                            display flex
                            align-items center
                            justify-content: center
                            color #fff
                            font-size 40px
                            width: 65px
                            height 65px
                            background-color #ce4624
                        .info:hover
                            background-color #ce4624
                            .name
                                color #fff
                            .reson_text
                                color #fff
                        .info
                            background-color #f2f2f2
                            width: 70%
                            margin-right: 20px
                            border-bottom: solid 2px #e3e3e3
                            .name
                                padding: 5px 0px 0px 14px
                                color: #656565
                                font-size: 18px
                                margin-top: 10px;
                                margin-bottom: 10px
                            .reson_text
                                padding: 0px 14px 8px 14px
                                color: #878787
                                margin-bottom: 10px
                                font-size: 15px
                                line-height: 22px
    .section7
        height 100%
        width 100%
        background-image url(./images/cliants-bg.jpg)
        background-repeat no-repeat
        background-size cover
        .section7_wrapper
            max-width 1170px
            margin 70px auto 0 auto
            padding 52px 0
            display flex
            justify-content space-around
            @media screen and (max-width: 670px)
                flex-direction: column
                align-items: center
            .blocks
                width 25%
                text-align center
                color #fff
                @media screen and (max-width: 670px)
                    margin-bottom: 20px
                .block_icon
                    font-size 40px
                .line
                    background: #fff
                    height: 1px
                    width: 75px
                    text-align: center
                    margin: 12px auto
                .block_numbers
                    font-size 22px
                    font-weight bold
                    margin-bottom 0px
                    margin-top 0px
                .block_text
                    font-size 16px
                    font-weight bold
    .section8
        height 100%
        width 100%
        .section8_wrapper
            margin 0 auto
            max-width 1170px
            .title
                font-size 26px
                text-align center
                padding 70px 0
            .feedback_container
                display flex
                justify-content: space-between
                @media screen and (max-width 780px)
                    flex-direction: column
                    margin: 0 20px 0 auto
                .feedback:hover
                    .user
                        border-color #fff
                    .comment
                        background-color #ce4624
                        .comment_text
                            color #fff
                        .under_text
                            color #fff
                .feedback
                    margin-bottom: 50px
                    .user
                        border 4px solid #ce4624
                        padding 0
                        border-radius 100%
                        width 100px
                        height 100px
                        margin-left 25px
                        overflow hidden
                    .comment
                        border 1px solid #ce4624
                        margin-top: -40px
                        margin-left 70px
                        .comment_text
                            color #878787
                            font-size 16px
                            line-height 22px  
                            padding 40px 46px 0px 46px
                            text-align justify
                        .under_text
                            padding 10px 42px 20px
                            color #161616
                            font-size 16px
    .section9
        height 100%
        width 100%
        background-color #ce4624
        .section9_wrapper
            margin: 0 auto
            max-width: 1170px
            .form_wrapper
                display: flex
                padding: 28px 0
                justify-content: center
                align-items: center
                @media screen and (max-width 670px)
                    flex-direction: column
                .title
                    flex: 1
                    color #fff
                    font-size 18px
                .input_container
                    width: 100%
                    display: flex
                    justify-content: center
                    flex: 3
                    align-items: center
                    input
                        height: 50px
                        width: 70%
                        text-indent: 15px
                        border-radius: 4px 0px 0px 4px
                        border: none
                    button
                        height: 50px
                        background: #000
                        padding: 0 10px
                        border-radius: 0px 4px 4px 0px
                        border: none
                        color: #fff
                        text-transform: uppercase
                        font-size: 16px
                        font-weight: bold
    .section10
        height 100%
        width 100%
        .section10_wrapper
            display flex
            justify-content space-between
            margin: 0 auto 50px auto
            max-width: 1170px
            @media screen and (max-width 780px)
                flex-direction: column
            .list
                width: 23%
                margin: 0 auto
                @media screen and (max-width 780px)
                    width 90%
                .title
                    text-align: left
                    border-bottom: 1px dotted #000
                    border-top: 1px dotted #000
                    padding: 12px 0
                    margin: 32px 0 14px 0
                    color: #000
                    font-size: 20px
                ul
                    list-style none
                    font-size: 15px
                    color: #333
                    line-height: 30px
                    li:hover
                        color #ce4624
    .footer
        background-color #333333
        height 100%
        width 100%
        .footer_wrapper
            margin: 0 auto
            padding: 30px 0
            max-width: 1170px
            display: flex
            justify-content space-between
            flex-wrap: wrap
            .left
                display: flex
                justify-content: flex-start
                align-items: center
                list-style none
                .card:hover
                    background-color #ce4624
                .card
                    display: flex
                    font-size: 28px
                    background-color: #dcdcdc
                    border-radius: 5px
                    justify-content: center
                    width: 50px
                    margin: 0 5px
                    align-items: center
            .right
                display: flex
                list-style none
                justify-content: flex-end
                align-items: center
                @media screen and (max-width 660px)
                    margin-top: 20px
                .card:hover
                    background-color #ce4624
                    color: #fff
                .card
                    display: flex
                    font-size: 34px
                    color: #a7a7a7
                    background-color: #fff
                    border-radius: 100%
                    justify-content: center
                    width: 45px
                    margin: 0 5px
                    align-items: center