@import './components/slider/style.styl'
@import './components/domains/style.styl'
@import './components/hostingSolutions/style.styl'
@import './components/getStarted/style.styl'
@import './components/signingUp/style.styl'
@import './components/prices/style.styl'
@import './components/chooseWebHosting/style.styl'
@import './components/hostingIcons/style.styl'
@import './components/feedback/style.styl'
@import './components/subscribeOnNews/style.styl'
@import './components/footer/style.styl'
@import './components/preFooter/style.styl'